.App {
  text-align: left;
  font-family: "Gill Sans";
  color: black;
  font-size: 14pt;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0076db;
}

.Text a:link, .Text a:visited {
  color: #0076db;
}

.Text a:hover {
  color: #1d5281
}

.Name {
  color: #0076db;
  font-size: 44pt;
  font-weight: bold;
  padding-left: 1.75vw;
  padding-top: 0.75vw;
  padding-bottom: 0.25vw;
}

.Text {
  margin-left: 2vw;
  margin-right: 2vw;
  max-width: 35cm;
}

h2 {
  color: #0076db;
  font-weight: bold;
}

h3 {
  color: #0076db;
}
