.App {
  text-align: left;
  font-family: "Gill Sans";
  color: black;
  font-size: 14pt;
  overflow-x: hidden;
}

.ViewingArea {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0076db;
}

.Name {
  color: #0076db;
  font-size: 44pt;
  font-weight: bold;
  padding-left: 4.75vw;
  padding-top: 0.75vw;
  padding-bottom: 0.25vw;
  padding-right: 4.75vw;
}

.Text {
  margin-left: 5vw;
  margin-right: 5vw;
}

.Text a:link, .Text a:visited {
  color: #0076db;
}

.Text a:hover {
  color: #1d5281
}

.Text img {
  max-width: 80vw;
  max-height: 50vh;
  padding-bottom: 3vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #0076db;
  font-weight: bold;
}

h3 {
  color: #0076db;
}

.TextSection {
  width: 50vw;
  vertical-align: top;
  /* display: table-cell; */
}

.FlexImg {
  width: 100vw !important;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* display: table-row; */
}

.FlexImg img {
  padding-right: 5vw;
  align-items: center;
  max-width: 20vw;
}
