.App {
  text-align: left;
  font-family: "Gill Sans";
  color: black;
  font-size: 14pt;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0076db;
}

.Name {
  color: #0076db;
  font-size: 44pt;
  font-weight: bold;
  padding-left: 20pt;
  padding-top: 20pt;
  padding-bottom: 5pt;
}

.Text {
  margin-left: 25pt;
  margin-right: 25pt;
}

h2 {
  color: #0076db;
  font-weight: bold;
}

h3 {
  color: #0076db;
}

.Blurb {
  margin-left: 10pt;
}
