nav {
    background-color: white;
}

.nav-link {
    margin-left: 5pt;
    margin-right: 5pt;
}

.nav-link:link, .nav-link:visited {
    background-color: white;
    color: #0076db !important;
}

.nav-link:hover {
    color: #1d5281 !important;
}
